{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>सीताराम सीताराम || सीताराम सीताराम</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="sri sitaram">
        <meta name="keywords" content="sri sitaram">
        <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/bootstrap.min.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/sitaram.css' %}"/>
        <script type="text/javascript" src="{% static 'accounts/js/bootstrap.bundle.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'accounts/js/sitaram.js' %}"></script>
    </head>
<body>
{% block site_wrapper %} {% endblock %}
</body>
</html>