{% extends "accounts/base.html" %}
{% load static %}
{% block site_wrapper %}
<div class="container" style="padding-top: 100px;">
    <div class="row">
        <div class="col-sm-2">
            <img src="{% static 'accounts/img/ramanuj.jpg' %}" class="img-fluid" alt="sitaram" onclick="window.open('https://www.youtube.com/@swamiRaghvacharya/streams')" role="button">
            <br/><br/>
            {% if request.user.is_authenticated %}
            <a class="btn btn-outline-success" href="{% url 'dukan:dukan_dashboard' %}" role="button">&nbsp;&nbsp;&nbsp;सीताराम&nbsp;&nbsp;&nbsp;</a>
            <a class="btn btn-outline-success" href="{% url 'accounts:account_logout' %}" role="button">लॉगआउट</a>

            {% else %}
            <a class="btn btn-outline-success" href="{% url 'accounts:account_sitaram' %}" role="button">&nbsp;&nbsp;&nbsp;सीताराम&nbsp;&nbsp;&nbsp;</a>
            <a class="btn btn-outline-success" href="{% url 'accounts:account_login' %}" role="button">&nbsp;&nbsp;&nbsp;लॉगिन&nbsp;&nbsp;&nbsp;</a>
            {% endif %}

        </div>
        <div class="col-sm-8">
            <ul class="list-group">
                <li class="list-group-item" style="text-align: center">सीताराम की विशेषता</li>
                <li class="list-group-item list-group-item-primary">सीताराम नाम , सीताराम लीला, सीताराम धाम , सीताराम कथा  = सीताराम सीताराम सीताराम सीताराम सीताराम सीताराम सीताराम सीताराम</li>
                <li class="list-group-item list-group-item-secondary">सीताराम सभी के हैं और बराबर हैं = सीताराम सीताराम सीताराम सीताराम सीताराम सीताराम सीताराम सीताराम सीताराम सीताराम सीताराम</li>
                <li class="list-group-item list-group-item-danger">सीताराम की अपनी क्षमता और धर्म के हिसाब से सेवा कीजिये = सीताराम सीताराम सीताराम सीताराम सीताराम सीताराम सीताराम सीताराम</li>
                <li class="list-group-item list-group-item-warning">सीताराम आनंद के सागर हैं।  आनंद की सबसे छोटी बूँद चक्रवर्ती राजा से शुरू होती है। = सीताराम सीताराम सीताराम सीताराम सीताराम सीताराम</li>
                <li class="list-group-item list-group-item-info">सीताराम को जो जानते है उन्हें कम ही जानते है = सीताराम सीताराम सीताराम सीताराम सीताराम सीताराम सीताराम सीताराम सीताराम सीताराम</li>
                <li class="list-group-item list-group-item-dark">सीताराम को जो जानते है फिर जना नहीं पाते हैं = सीताराम सीताराम सीताराम सीताराम सीताराम सीताराम सीताराम सीताराम सीताराम सीताराम</li>
            </ul>
        </div>
        <div class="col-sm-2">
            <img src="{% static 'accounts/img/guruvar.jpg' %}" class="img-fluid" alt="sitaram" onclick="window.open('https://www.youtube.com/@swamiRaghvacharya/streams')" role="button">
            <br/><br/>
            {% if request.user.is_authenticated %}
            <a class="btn btn-outline-success" href="{% url 'dukan:dukan_dashboard' %}" role="button">&nbsp;&nbsp;&nbsp;सीताराम&nbsp;&nbsp;&nbsp;</a>
            <a class="btn btn-outline-success" href="{% url 'accounts:account_logout' %}" role="button">लॉगआउट</a>

            {% else %}
            <a class="btn btn-outline-success" href="{% url 'accounts:account_password' %}" role="button">&nbsp;&nbsp;&nbsp;पासवर्ड&nbsp;&nbsp;&nbsp;</a>
            <a class="btn btn-outline-success" href="{% url 'accounts:account_register' %}" role="button">&nbsp;&nbsp;&nbsp;जुड़ाव&nbsp;&nbsp;&nbsp;</a>
            {% endif %}

        </div>
    </div>
</div>

{% endblock %}