{% extends "accounts/base.html" %}
{% load static %}
{% block site_wrapper %}
<div class="container" style="padding-top: 100px;">
    <div class="row">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-6">
            {% if message %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% endif %}
            <main class="form-signin w-100 m-auto">
                <form action="{% url 'accounts:account_login' %}" method="post">
                    {% csrf_token %}
                    <div class="form-floating">
                        <input type="tel" pattern="[6-9]{1}[0-9]{9}" class="form-control" id="email" name="email_id" placeholder="8377894662" required>
                        <label for="email">mobile(+91)</label>
                    </div>
                    <br>
                    <div class="form-floating">
                        <input type="password" class="form-control" id="password" name="password" placeholder="password" minlength="4" required>
                        <label for="password">password</label>
                    </div>

                    <button class="btn btn-outline-success w-100 py-2" type="submit">लॉगिन</button>
                    <br/><br/>
                    <a class="btn btn-outline-warning" href="{% url 'accounts:account_register' %}" role="button">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;साइनअप&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>

                    <br/><br/>
                    <a class="btn btn-outline-warning" href="{% url 'accounts:account_password' %}" role="button">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;पासवर्ड&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>

                    <br/><br/>
                    <a class="btn btn-outline-warning" href="{% url 'accounts:sitaram' %}" role="button">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;सीताराम&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                </form>
            </main>
            
        </div>
        <div class="col-sm-3">
        </div>
    </div>
</div>

{% endblock %}