{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>सीताराम सीताराम || सीताराम सीताराम</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="sri sitaram">
        <meta name="keywords" content="sri sitaram">
        <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/bootstrap.min.css' %}"/>
    </head>

    <body>
        <div class="container" style="padding-top: 100px;">
            <div class="row">
                <div class="col-sm-2">
                    <img src="{% static 'accounts/img/ramanuj.jpg' %}" class="img-fluid" alt="ramanuj" onclick="window.open('https://www.youtube.com/@swamiRaghvacharya/streams')" role="button">
                    <br/><br/>
                    {% if request.user.is_authenticated %}
                    <a class="btn btn-outline-success" href="{% url 'accounts:sitaram' %}" role="button">&nbsp;&nbsp;&nbsp;सीताराम&nbsp;&nbsp;&nbsp;</a>
                    <a class="btn btn-outline-success" href="{% url 'accounts:account_logout' %}" role="button">लॉगआउट</a>

                    {% else %}
                    <a class="btn btn-outline-success" href="{% url 'accounts:sitaram' %}" role="button">&nbsp;&nbsp;&nbsp;सीताराम&nbsp;&nbsp;&nbsp;</a>
                    <a class="btn btn-outline-success" href="{% url 'accounts:account_login' %}" role="button">&nbsp;&nbsp;&nbsp;लॉगिन&nbsp;&nbsp;&nbsp;</a>
                    {% endif %}

                </div>
                <div class="col-sm-8">
                    <img src="{% static 'accounts/img/sitaram.jpg' %}" class="img-fluid" alt="sitaram">
                </div>
                <div class="col-sm-2">
                    <img src="{% static 'accounts/img/guruvar.jpg' %}" class="img-fluid" alt="ramanuj" onclick="window.open('https://www.youtube.com/@swamiRaghvacharya/streams')" role="button">
                    <br/><br/>
                    {% if request.user.is_authenticated %}
                    <a class="btn btn-outline-success" href="{% url 'accounts:sitaram' %}" role="button">&nbsp;&nbsp;&nbsp;सीताराम&nbsp;&nbsp;&nbsp;</a>
                    <a class="btn btn-outline-success" href="{% url 'accounts:account_logout' %}" role="button">लॉगआउट</a>
                    
                    {% else %}
                    <a class="btn btn-outline-success" href="{% url 'accounts:account_password' %}" role="button">&nbsp;&nbsp;&nbsp;पासवर्ड&nbsp;&nbsp;&nbsp;</a>
                    <a class="btn btn-outline-success" href="{% url 'accounts:account_register' %}" role="button">&nbsp;&nbsp;&nbsp;साइनअप&nbsp;&nbsp;&nbsp;</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </body>
</html>
