{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>सीताराम सीताराम || सीताराम सीताराम</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="sri sitaram">
        <meta name="keywords" content="sri sitaram">
        <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/bootstrap.min.css' %}"/>
    </head>

    <body>
        <div class="container" style="padding-top: 100px;">
            <div class="row">
                <div class="col-sm-4">
                    <img src="{% static 'accounts/img/ramanuj.jpg' %}" class="img-fluid" alt="ramanuj" onclick="window.open('https://www.youtube.com/@swamiRaghvacharya/streams')" role="button">
                </div>
                <div class="col-sm-4">
                    <img src="{% static 'accounts/img/sitaram.jpg' %}" class="img-fluid" alt="sitaram" onclick="window.open('https://www.youtube.com/@swamiRaghvacharya/streams')" role="button">
                </div>
                <div class="col-sm-4">
                    <img src="{% static 'accounts/img/guruvar.jpg' %}" class="img-fluid" alt="ramanuj" onclick="window.open('https://www.youtube.com/@swamiRaghvacharya/streams')" role="button">
                </div>
                <br/><br/>
                <a class="btn btn-outline-warning" href="{% url 'dukan:view_all_product' %}" role="button">सीताराम</a>
            </div>
        </div>
    </body>
</html>
