{% extends "accounts/base.html" %}
{% load static %}
{% block site_wrapper %}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="jumbotron">
                <h1 class="display-4"><span style="color: green;"> श्री सीतारामचंद्र,</span></h1>
                <p class="lead"><span style="color: green;"> श्री सीतारामचंद्र, आपका स्वागत है हमारी प्रिय दुकान में ससम्मान। हम आपकी सेवा के लिए तत्पर है। हम आप पर निर्भर है।  कृपया हमें सेवा का अवसर प्रदान करें। </span></p>
                <p class="lead"> <span style="color: green;"> धन्यवाद अभिनन्दन </span></p>
                <p class="lead"> <span style="color: green;"> श्री सीतारामचंद्र भगवान की जय।।<br> श्री सीतारामचंद्र भगवान की जय।।<br> श्री सीतारामचंद्र भगवान की जय।।</span></p>
                <p class="lead"> <span style="color: green;"> ।। श्रीमते रामनुजाय नमः ।।<br> ।। रामानुजम शरणम् प्रपत्ति ।।</span></p>
            </div>
        </div>
    </div>
</div>

{% endblock %}