{% extends "accounts/base.html" %}
{% load static %}
{% block site_wrapper %}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <form action="{% url 'dukan:process_cart' %}" method="post">
                {% csrf_token %}
                <div class="row g-5">
                    <div class="col-md-5 col-lg-4 order-md-last">
                        <h4 class="d-flex justify-content-between align-items-center mb-3">
                            <span class="text-primary">Cart items</span>
                            <span class="badge bg-primary rounded-pill">{{cart.products.count}}</span>
                        </h4>
                        
                        <ul class="list-group mb-3">
                            {% for product in cart.products.all %}
                            <li class="list-group-item d-flex justify-content-between lh-sm">
                                <div>
                                    <h6 class="my-0">{{product.name}}</h6>
                                    <small class="text-body-secondary">Available : {{product.avl_qty}} Price : {{product.cost}}/{{product.unit}}</small>
                                </div>
                                <div>
                                    <input class="form-control" type="number" placeholder="" min=0 max={{product.avl_qty}} onchange="calculate_amount({{product.id}}, {{product.avl_qty}}, {{product.cost}})" id="order_qty_{{product.id}}" value="" name="ord_qty_{{product.id}}">
                                </div>
                                <span class="text-body-secondary" id="amount_{{product.id}}">&#8377;0</span>
                            </li>

                            {% endfor %}

                            <li class="list-group-item d-flex justify-content-between bg-body-tertiary">
                                <div class="text-success">
                                    <input class="form-check-input" type="radio" name="payment" id="PSPD" value="PSPD">
                                    <label class="form-check-label" for="PSPD"> Prepaid </label>
                                </div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between">
                                <span>Total (&#8377;)</span>
                                <strong id="total_strong">&#8377;0</strong>
                            </li>
                        </ul>
                    </div>
                </div>
                <button class="w-100 btn btn-success" type="submit">Order</button>        
            </form>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'dukan/js/dukan.js' %}"></script>
</div>

{% endblock %}