{% extends "accounts/base.html" %}
{% load static %}
{% block site_wrapper %}

<div class="container">
    <div class="row">
        {% for order in pending %}
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <ul class="list-group">
                        {% if order.payment == 'PSPD' %}
                            <li class="list-group-item list-group-item-warning">सामान : {% for product in order.order_products.all %} {{ product.name}}&nbsp;{% endfor %} </li>
                            <li class="list-group-item list-group-item-warning">कितना : {{ order.order_quantity }} </li>
                            <li class="list-group-item list-group-item-warning">भाव : &#8377;{{ order.order_prices }} </li>
                            <li class="list-group-item list-group-item-warning">कुल : &#8377;{{ order.order_cost }} </li>
                            <li class="list-group-item list-group-item-warning">ग्राहक : {{ order.order_by.mobile }} #{{order.id}}</li>
                            {% if request.user.is_superuser %}
                                <li class="list-group-item list-group-item-warning"><a href="{% url 'dukan:confirm_order'  order_id=order.id %}" class="btn btn-outline-warning btn-sm">confirm</a>
                            {% endif %}

                        {% else %}
                            <li class="list-group-item list-group-item-success">सामान : {% for product in order.order_products.all %} {{ product.name}}&nbsp;{% endfor %} </li>
                            <li class="list-group-item list-group-item-success">कितना : {{ order.order_quantity }} </li>
                            <li class="list-group-item list-group-item-success">भाव : &#8377;{{ order.order_prices }} </li>
                            <li class="list-group-item list-group-item-success">कुल : &#8377;{{ order.order_cost }} </li>
                            <li class="list-group-item list-group-item-success">ग्राहक : {{ order.order_by.mobile }} #{{order.id}}</li>
                            <li class="list-group-item list-group-item-success">सबूत : {{ order.payment_string }} </li>
                            {% if request.user.is_superuser %}
                                <li class="list-group-item list-group-item-success"><a href="{% url 'dukan:confirm_order'  order_id=order.id %}" class="btn btn-outline-success btn-sm">confirm</a>
                            {% endif %}

                        {% endif %}

                        </li>
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}